practice-app/node_modules
practice-app/package-lock.json
backend/node_modules
backend-annotation/node_modules
backend/package-lock.json
backend-annotation/package-lock.json
.idea/
.DS_Store
android/*.log
