body {
  background-color: #EBEBEC;
  color: #fff;
}
.card {
  background-color: #563d7c;
}
#menu {
  margin: 0;
  margin-bottom: 20px;
  background-color: #563d7c;
  color: #babdd6;
}

#menu li {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 5px;
  display: inline-block;
}

#menu li:hover {
  cursor: pointer;
  color: #fff;
}
  
.btn:visited,
.btn:active,
.btn:focus,
.btn {
  background-color: #9EC7D9;
  border-radius: 4px;
  border-color: #9EC7D9;
  box-shadow: none;
}
.btn:hover {
  background-color: #F6B36C;
  border-radius: 4px;
  border-color: #F6B36C;
  box-shadow: none;
}
