#login-form {
}
#login-form>div {
  margin-top: 10%;
  border: 2px solid #888;
  border-radius: 12px;
}
#login-form>div>div>div {
  padding: 8px;
}
#login-form>div>div>div input {
    width: 100%;
}
.btn { width: 100%; }
