doctype html
html(lang='en')
    head
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
    body
        nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
            a.navbar-brand(href='#') Traders' Platform
            ul.navbar-nav.mr-auto
                li.nav-item
                    a.nav-link(href='/') Home
                li.nav-item
                    a.nav-link(href='/exchangerate') Exchange Rate
                li.nav-item
                    a.nav-link(href='/register') Register
                li.nav-item
                    a.nav-link(href='/login') Login
        block content
