* {
    box-sizing: border-box;
  }
  
  #content {
    width: 480px;
    margin: 0 auto;
  }
  
  .editor {
    border: 1px solid grey;
    padding: 6px;
  }
  .DraftEditor-root {
    width: 10%;
  }
  
  .container a {
    text-decoration: none;
  }
  
  .card-body::before{
    display: block;
    content: " ";
    margin-top: -65px;
    height: 65px;
    visibility: hidden;
  }
    
  #a {
    background-color: #fff;
    overflow-x: scroll;
    scrollbar-width: thin;
    height: 442px;
  }
  #a::-webkit-scrollbar {
    width: 5px;
    background-color: #f0f0f0;
  }
  #a::-webkit-scrollbar-thumb {
    background: #cdcdcd;
  }
  