.portfolio .portfolio-stocks {
  list-style: none;
}
.portfolio.card {
  margin-bottom: 10px;
  padding: 0;
}
.portfolio .card-body {
  padding: 0;
}
.portfolio .card-title {
  padding: 4px;
}
.portfolio.card ul {padding-left: 15px; padding-right: 15px;}
.portfolio.card ul li:hover {
  background-color: #ddd;
}
.portfolio.card ul a {
  color: black;
  text-decoration: none;
}

.add-stock {
  background-color: #cec;
}
.add-stock:hover {
  background-color: #dfd;
  cursor: pointer;
}

.portfolio .drawer {
  background-color: #cec;
}

.myScroller {
  background-color: #fff;
  overflow-y: scroll;
  scrollbar-width: thin;
}
.myScroller::-webkit-scrollbar {
  width: 5px;
  background-color: #f0f0f0;
}
.myScroller::-webkit-scrollbar-thumb {
  background: #cdcdcd;
}
